@model MoMaWeb.Models.StudentCreateModel


<html>
    <head>
        <title>创建页面</title>
        <h1>创建学生</h1>
    </head>
    <body>
        <form method="post">
            <input asp-for="FirstName" />
            <input asp-for="LastName" />
            <input asp-for="Age" />
            <button type="submit" name="保存">提交</button>
        </form>
    </body>
</html>